body{
    background-color:  silver;
}
#container{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 15px black;
}

#container #timeBox{
    margin: 10px 0;
    font-size: 18px;
}
#container #restart{
    width: 200px;
    height: 50px;
    margin: 10px 0;
    border: 0;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: coral;
}

#container #restart:hover{
    background-color: lightcoral;
    cursor: pointer;
}